colorama==0.4.6
iniconfig==2.1.0
joblib==1.5.1
numpy==2.3.2
packaging==25.0
pluggy==1.6.0
Pygments==2.19.2
pyngrok==7.3.0
pytest==8.4.1
PyYAML==6.0.2
scipy==1.16.1
xgboost==3.0.4
streamlit
matplotlib
